button[type="button"]{
    color:blue
}
button[type="submit"]{
    color:red
}
input[type="text"]{
    background-color: cyan;
}
input[type="email"]{
    background-color: cyan;
}
input[type="password"]{
    background-color: cyan;
}
h1:hover{
    color: green;
}
li:nth-child(odd){
   background-color: brown;
}
li:nth-child(even){
   background-color:violet;
}



